In [1]:
!pip install pandas

Requirement already satisfied: pandas in /Users/gaetanomanzone/Desktop/microplastics_project/.venv/lib/python3.11/site-packages (2.3.0)
Requirement already satisfied: numpy>=1.23.2 in /Users/gaetanomanzone/Desktop/microplastics_project/.venv/lib/python3.11/site-packages (from pandas) (2.3.1)
Requirement already satisfied: python-dateutil>=2.8.2 in /Users/gaetanomanzone/Desktop/microplastics_project/.venv/lib/python3.11/site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in /Users/gaetanomanzone/Desktop/microplastics_project/.venv/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in /Users/gaetanomanzone/Desktop/microplastics_project/.venv/lib/python3.11/site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in /Users/gaetanomanzone/Desktop/microplastics_project/.venv/lib/python3.11/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)

In [2]:
import pandas as pd

In [3]:
df = pd.read_csv(r"/Users/gaetanomanzone/Desktop/microplastics_project/gmanzone/processed_microplastics.csv")

In [4]:
# Print first 5 rows
df.head()

,year,country,cheese,yoghurt,total_milk,fruits,refined_grains,whole_grains,nuts_and_seeds,total_processed_meats,...,fish,shellfish,eggs,total_salt,added_sugars,non-starchy_vegetables,potatoes,other_starchy_vegetables,beans_and_legumes,total_ug_per_kg
0,1990,Angola,0.191781,54.899739,96.602740,76.520548,481.297149,44.309838,2.849315,22.770109,...,53.013699,0.164384,1.041096,8.005259,32.547945,80.164384,8.109589,39.342466,19.835616,1043.279108
1,1990,Benin,0.054795,9.365946,18.410959,90.876712,534.256965,48.836323,19.561644,17.018264,...,18.794521,3.972603,2.849315,5.854497,8.246575,122.986301,0.000000,304.904110,21.178082,1241.656197
2,1990,Burkina Faso,0.273973,35.390618,56.027397,19.178082,213.170183,129.416119,28.465753,9.541329,...,4.684932,0.000000,6.767123,6.928378,9.534247,64.767123,2.219178,13.780822,32.520548,666.603927
3,1990,Central African Republic,0.000000,19.206478,48.000000,113.397260,285.035375,302.567776,23.506849,26.412094,...,13.917808,0.000000,1.123288,6.585071,19.698630,101.753425,0.575342,209.452055,12.821918,1237.339905
4,1990,Cote D'Ivoire,0.301370,2.220447,38.109589,37.013699,436.907598,25.220347,16.904110,2.459103,...,51.424658,0.493151,2.438356,9.660915,28.438356,151.150685,1.945205,676.575343,2.356164,1540.502458

In [7]:
# Check the data types for each column
df.dtypes

year                          int64
country                      object
cheese                      float64
yoghurt                     float64
total_milk                  float64
fruits                      float64
refined_grains              float64
whole_grains                float64
nuts_and_seeds              float64
total_processed_meats       float64
unprocessed_red_meats       float64
fish                        float64
shellfish                   float64
eggs                        float64
total_salt                  float64
added_sugars                float64
non-starchy_vegetables      float64
potatoes                    float64
other_starchy_vegetables    float64
beans_and_legumes           float64
total_ug_per_kg             float64
dtype: object

In [8]:
# Check for any missing values - none found
df.isnull().sum()

# Drop NaN values - not necessary here because no such value was found
df = df.dropna()

In [9]:
# Print unique values for the column "country"
df["country"].unique()

array(['Angola', 'Benin', 'Burkina Faso', 'Central African Republic',
       "Cote D'Ivoire", 'Cameroon', 'Congo', 'Djibouti', 'Algeria',
       'Egypt', 'Ethiopia', 'Gabon', 'Ghana', 'Guinea', 'The Gambia',
       'Guinea-Bissau', 'Kenya', 'Lesotho', 'Morocco', 'Madagascar',
       'Mali', 'Mozambique', 'Mauritania', 'Mauritius', 'Malawi',
       'Namibia', 'Niger', 'Nigeria', 'Rwanda', 'Senegal', 'Chad', 'Togo',
       'Tunisia', 'Tanzania', 'Uganda', 'South Africa', 'Zambia',
       'Zimbabwe', 'Albania', 'Argentina', 'Antigua And Barbuda',
       'Australia', 'Austria', 'Bangladesh', 'Bulgaria', 'Bolivia',
       'Brazil', 'Barbados', 'Canada', 'Switzerland', 'China', 'Colombia',
       'Cuba', 'Germany', 'Dominica', 'Denmark', 'Dominican Republic',
       'Spain', 'France', 'United Kingdom', 'Greece', 'Grenada',
       'Hungary', 'Indonesia', 'India', 'Ireland', 'Iran', 'Iraq',
       'Iceland', 'Jordan', 'Japan', 'Cambodia', 'South Korea', 'Kuwait',
       'Laos', 'Saint Lucia', 'Sri Lanka', 'Mexico', 'Myanmar',
       'Mongolia', 'Malaysia', 'Netherlands', 'Norway', 'Pakistan',
       'Peru', 'Philippines', 'Portugal', 'Paraguay', 'Romania',
       'Saudi Arabia', 'Slovakia', 'Sweden', 'Thailand',
       'Trinidad And Tobago', 'Turkey', 'Uruguay', 'United States',
       'Venezuela', 'Vietnam', 'Belgium', 'Bosnia And Herzegovina',
       'Croatia', 'Luxembourg', 'Montenegro', 'Russia', 'Serbia',
       'Slovenia', 'Syria', 'Ukraine'], dtype=object)